<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NopCommerce Automcation Test">

    <test name="Run On FireFox Browser">
        <classes>
            <class name="com.nopcommerce.users.Level_01_Repeat_Yourself" />
            <class name="com.nopcommerce.users.Level_02_BasePage_I_Initial" />
            <class name="com.nopcommerce.users.Level_02_BasePage_II_StaticMethod" />
            <class name="com.nopcommerce.users.Level_02_BasePage_III_Inheritance" />
        </classes>
    </test>

</suite> <!-- Suite -->