<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NopCommerce Automcation Test">

<!--    <test name="Run On FireFox Browser">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="com.nopcommerce.users.Level_04_Multiple_Browser" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Run On Chrome Browser">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="com.nopcommerce.users.Level_04_Multiple_Browser" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Run On Edge Browser">-->
<!--        <parameter name="browser" value="edge"/>-->
<!--        <classes>-->
<!--            <class name="com.nopcommerce.users.Level_04_Multiple_Browser" />-->
<!--        </classes>-->
<!--    </test>-->

    <test name="Page Factory">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.nopcommerce.users.Level_07_Switch_Page_Object" />
        </classes>
    </test>

</suite> <!-- Suite -->